  @using Issue_tracker_webapp.Models;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
  @model ProjectViewModel

<br />
<h1>Project List @Model.userdID   </h1>
<br />
@if (AuthorizationService.AuthorizeAsync(User, Permissions.Project.View).Result.Succeeded)
{
{
    <table class="table table-striped" id="projectTable">
        <thead>
            <tr>
                <th>
                    Project title
                </th>
                <th>
                    Description
                </th>
                <th style="width:10%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.projectList)
            {
                <tr>
                    <td>
                        <small>
                            @project.projectName
                        </small>
                    </td>
                    <td>
                        <a>
                            @project.projectDescription
                        </a>
                    </td>

                    <td>
                        <a asp-controller="project" asp-action="viewProject" asp-route-projectID="@project.projectID" >Go to project</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}}
<br />
@if(AuthorizationService.AuthorizeAsync(User, Permissions.Project.Create).Result.Succeeded){
{<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="project" method="post" asp-action="addproject" class="d-inline">
            <div>
                <label>Project title</label>
                <input asp-for="@Model.projectview.projectName" />
            </div>
            <div>
                <label>Project Description</label>
                <input asp-for="@Model.projectview.projectDescription" />
            </div>
            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn bg-primary">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

}}